<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="/catalog">Уроки</a></li>
                <li><a href="/Favorites">Избранное</a></li>
                <li><a href="/add-lesson">Добавить урок</a></li>
                <li><a href="/contacts" class="active">Контакты преподавателей</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Контакты преподавателей</h1>

        <h2>Иванов Иван Иванович:</h2>
        <table>
            <tr>
                <th>Email</th>
                <td>ivan_ivanov@gmail.com</td>
            </tr>
            <tr>
                <th>Телеграм</th>
                <td>ivanovIvan"</td>
            </tr>
            <tr>
                <th>Вконтакте</th>
                <td>ivanovIvan</td>
            </tr>
        </table>
        <h2>Сидоров Петр Алексеевич:</h2>
        <table>
            <tr>
                <th>Email</th>
                <td>sidorov_petr@gmail.com</td>
            </tr>
            <tr>
                <th>Телеграм</th>
                <td>sidorovPetr</td>
            </tr>
            <tr>
                <th>Вконтакте</th>
                <td>sidorovPetr</td>
            </tr>
        </table>
    </main>
    <footer>
        <p>
            <img src="~/images/javalogo.png" alt="Логотип Java" class="footer-img">
            <a href="https://www.java.com/ru/" class="java-link">Официальный сайт Java</a>
            <img src="~/images/javalogo.png" alt="Логотип Java" class="footer-img">
        </p>
    </footer>
</body>
</html>